<template>
    <div class="layout__wrapper">
        <NavBar/>
        <div class="nuxt__wrapper">
            <Nuxt/>
        </div>
    </div>
</template>
<script>
import NavBar from "../components/NavBar";

export default {
    components: {NavBar}
}
</script>
<style lang="scss" scoped>
/*.layout__wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    .nuxt__wrapper {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        min-width: 100%;
        flex: 1 1 0;
        Nuxt {
            flex: 1 0 0;
        }
    }
}*/

nav-bar {
    grid-area: navbar;
}

nuxt {
    grid-area: nuxt;
}

.layout__wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "navbar"
        "nuxt";
    grid-template-rows: auto 1fr;

}


</style>