<template>
    <nav class="nav container">
        <div class="logo">
            <nuxt-link to="/home" class="h3 fw-700">
                <!--                <span class="img_container">
                                    <img src="/logo/logo-monitor-boi.svg" class="img_logo" alt="">
                                    </span>
                                <span>MonitorBoi</span>-->
                MonitorBoi
            </nuxt-link>
        </div>
        <div>
            <!--            <p>aboba</p>-->
        </div>
        <div>
            <div class="third-section" v-if="$auth.loggedIn">
                <div class="desktop">
                    <div class="h5 fw-600 username"><span class="h5 fw-400">Hello,</span> {{ this.$auth.user.username }}</div>
                    <button class="button outlined" @click="$auth.logout()">Выйти</button>
                </div>
                <div class="mobile">
                    <div :class="{'is-active': isActive}" @click="toggleBurger" class="hamburger hamburger--slider">
                        <div class="hamburger-box">
                            <div class="hamburger-inner"></div>
                        </div>
                    </div>
                </div>


            </div>
            <div :class="{'is-active': isActive}" class="burger-menu container">
                <!--                <div class="burger-menu__header">
                                    <div class="logo">
                                        <nuxt-link to="/home" class="h3 fw-700">
                                            MonitorBoi
                                        </nuxt-link>
                                    </div>
                                    <div class="h5 fw-600 username">{{ this.$auth.user.username }}</div>
                                </div>-->
                <div class="burger-menu__body">
                    <div class="h5 fw-600 username">{{ this.$auth.user.username }}</div>
                </div>

                <button class="button outlined" @click="$auth.logout()">Log out</button>
            </div>
        </div>
    </nav>
</template>

<script>
export default {
    name: "NavBar",
    data() {
        return {
            isActive: false,
        }
    },
    methods: {
        toggleBurger() {
            this.isActive = !this.isActive;
        }
    }
}
</script>

<style lang="scss" scoped>
@import "assets/styles/variables_size";

.nav {
    display: flex;
    //position: sticky;
    top: 0;
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: $navbar-height;

    .logo {
        .image_container {
            height: 10px;
            width: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img_logo {
            filter: invert(100%);
            width: 100%;
            object-fit: cover;
            height: 1.2rem;
            display: block;
        }
    }

    .third-section {
        display: flex;
        align-items: center;
        gap: 1.6rem;

        .username {
        }


    }

    .burger-menu {
        position: fixed;
        top: $navbar-height;
        //right: -100vw;
        //left: 100vw;
        right: -100%;
        left: 100%;
        bottom: 0;
        padding:2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #161616;
        transition: .3s;
        z-index: 10;

        &.is-active{
            right: 0;
            left: 0;
        }

        &__header {

            display: flex;
            justify-content: space-between;
        }
    }

    .desktop{
        display: flex;
        align-items: center;
        gap: 1.6rem;
    }


    @media screen and(max-width: 800px) {
        .desktop {
            display: none;
        }
    }
    @media screen and(min-width: 801px) {
        .mobile {
            display: none;
        }
        .burger-menu {
            display: none;
        }
    }

}


</style>