@import "../colors";

.register-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $gray-dark-1;
  color: $white-color-1;


  .register-body {
    padding: 4.8rem;
    //min-width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    //box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: .6rem;
    background: #2a2a2a;

    @media screen and (max-width: 500px){
      background: transparent;
      padding: 0 2.4rem 4rem;
      box-shadow: none;
    }
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    > :last-child {
      margin-top: 2.4rem;
    }
  }

  .register-login {
    display: flex;
    justify-content: center;
  }

  .register-login__body {
    //font-family: 'Roboto', sans-serif;
    //font-weight: 300;
    font-size: 1.4rem;
    display: flex;
    gap: .8rem;

  }

  .link {
    color: $blue;
    cursor: pointer;
    font-weight: 500;
  }

  .link:hover {
    text-decoration-line: underline;
  }

  .label {
    font-size: 12px;
    font-weight: 400;
    padding-left: 1.6rem;
    color: $gray-dark-color;
  }

  .form__item {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  .form__input {
    //all: unset;
    padding: 1.4rem 1.6rem;
    /* border: 1px solid $gray-dark-border;
     border-radius: .375rem;
     font-size: 1rem;
     font-family: 'Roboto', sans-serif;
     background: $gray-dark-3;

     &::placeholder {
       color: $gray-dark-color;
     }

     &:focus-visible {
       outline: 2px solid #0063c7;
     }*/
  }

  .form__button {
    padding: 1rem 1.6rem;
    /*border: 2px solid #2253e1;
    border-radius: .375rem;
    background: #007AFF;
    text-align: center;
    color: #fff;
    transition: .1s;

    &:hover {
      background: #0063cd;
    }

    &:active {

      background: #004ea3;
      border: 2px solid #0740d9;
    }

    &:focus-visible {
      outline: 2px solid #0063c7;
    }*/
  }

  .line {
    width: 100%;
    height: 1px;
    background: #202020;
  }

  .centered {
    text-align: center;
  }
}