@import "colors";
@import "hamburger";

.button {
  background: $btn-blue;
  border: 2px solid $btn-border;
  border-radius: .375em;
  cursor: pointer;
  text-align: center;
  transition: .1s;
  padding: .5em 1em;

  &:hover:not(:disabled) {
    background: $btn-hover-background;
  }

  &:active:not(:disabled) {
    background: $btn-active-background;
    border: 2px solid $btn-active-border;
  }

  &:focus-visible:not(:disabled) {
    outline: 2px solid $btn-focus-visible;
  }



  &.ghost {
    background: none;
    border: dashed 2px rgba(0, 0, 0, 0);
    border-radius: .6rem;

    &:hover {
      border: dashed 2px $is-gray;
      background: none;
    }

    &:active {
      //background: $btn-active-background;
      border: solid 2px $is-gray;
      background: none;
    }
  }

  &.outlined {
    background: none;
    border: solid 2px $is-gray;

    &:hover {
      //background: $btn-hover-background;
      color: #2c2c2c;
      background: #e7e7e7;
      //border: solid 2px rgba(0, 0, 0, 0);
      border: solid 2px #aaaaaa;
      //border: solid 2px $btn-hover-background;
    }

    &:active {
      //background: $btn-active-background;
      //border: solid 2px $is-gray;
      background: #e8e8e8;
      border: solid 2px #e8e8e8;
    }
  }
  &.danger{
    color: #fff;
    background: #b74747;
    border: solid 2px #e56e6e;
    &:hover {
      background: #de6464;
      //border: solid 2px rgba(0, 0, 0, 0);
      //border: solid 2px #ff4c4c;
    }

    &:active {
      //background: $btn-active-background;
      background: #ff6d6d;
      border: 2px solid #e56e6e;
    }
  }

  &.light{
    color: #2c2c2c;
    background: #dfdfdf;
    border: solid 2px #aaaaaa;
    &:hover {
      background: #d0d0d0;
      //border: solid 2px rgba(0, 0, 0, 0);
      //border: solid 2px #ff4c4c;
    }

    &:active {
      //background: $btn-active-background;
      background: #e8e8e8;
      border: solid 2px #e8e8e8;
    }
    &:focus-visible {
      outline: 2px solid #e8e8e8;
    }

  }

  &:disabled {
    background: rgba(255, 255, 255, 0);
    color: #adadad;
    border: 2px solid #adadad;
    cursor: not-allowed;

    &:hover{
      background: rgba(255, 255, 255, 0);
    }
  }
}

button {
  &.fullwidth {
    width: 100%;
  }

  &.has-text-centered {
    text-align: center;
  }

  &.round {
    border-radius: 2em;
  }
}

.link {
  color: #007AFF;

  &:hover {
    text-decoration: underline;
  }
  &.underlined{
    text-decoration: underline;
  }
}

.underlined{
    text-decoration: underline;
}
