$green: #3abd79;
$grey: #50555c;
$grey-light: #535A64;

//$btn-color: #fff;
$btn-blue: #007AFF;
$btn-border: #2253e1;
$btn-focus-visible: #0063c7;
$btn-hover-background: #0063cd;
$btn-active-background: #004ea3;
$btn-active-border: #0740d9;

$blue: #007AFF;

$white-color-1: #ddd;

$wrp-background: #161616;

$gray-dark-1: #161616;
$gray-dark-2: #2a2a2a;
$gray-dark-3: #282828;
$gray-dark-border: #585858;
$gray-dark-color: #777;

$inp-background: #282828;
$inp-border: #585858;
$inp-placeholder: #777;
$inp-color: #bbbbbb;
$inp-focus-visible: #0063c7;

$label-color: #6a6a6a;

.is-green {
  color: $green;
}

$is-gray: #ADB3BC;
.is-gray {
  color: $is-gray;
}


/* light theme */
