.container {
  max-width: 1220px;
  padding: 0 2.4rem;
  margin: 0 auto;
  //width: 100%;
  @media screen and (min-width: 768px) {
    max-width: 1220px;
  }
  @media screen and (max-width: 479px) {

  }
  @media screen and (max-width: 767px) {

  }
  @media screen and (max-width: 991px) {

  }
  &.no-padding{
    padding: 0;
  }
}

/*
.section{
  padding: 30px;
}*/
