@import "colors";

.input {
  all: unset;

  &[type=text], &[type=password] {
    border: 1px solid $gray-dark-border;
    border-radius: .6rem;
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    background: $gray-dark-3;
    padding: .8rem 1.6rem;

    &::placeholder {
      color: $gray-dark-color;
    }

    &:focus-visible {
      outline: 2px solid #0063c7;
    }
  }

}

.select {
  border-radius: .6rem;
  padding: .8rem 3.2rem .8rem 1.6rem;
  //background: $gray-dark-3;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  border: 1px solid $gray-dark-border;
  color: #fff;

  &::placeholder {
    color: $gray-dark-color;
  }

  &:focus-visible {
    outline: 2px solid #0063c7;
  }

  appearance: none;
  background: $gray-dark-3 url('../../static/icons/select_arrow_light.svg') no-repeat calc(100% - 1.2rem) center;
  /*& option:disabled{
    color: #3abd79;
  }*/
}