/*.h1 {
  font-size: 3rem;
}

.h2 {
  font-size: 2rem;
}

.h3 {
  font-size: 1.5rem;
}

.h4 {
  font-size: 1.25rem;
}

.h5 {
  font-size: 1rem;
}

.h6 {
  font-size: 0.625rem;
}*/

h1, .h1 {
  font-size: 4.8rem;
}

h2, .h2 {
  font-size: 3.2rem;
}

h3, .h3 {
  font-size: 2.4rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.6rem;
}

h6, .h6 {
  font-size: 1.4rem;
}


.lh-100 {
  line-height: 100%;
}

.lh-110 {
  line-height: 110%;
}

.lh-120 {
  line-height: 130%;
}

.lh-150 {
  line-height: 150%;
}


/*
.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}
*/
.fw-800 {
  font-weight: 800;
}

.fw-700 {
  font-weight: 700;
}

.fw-600 {
  font-weight: 600;
}

.fw-500 {
  font-weight: 500;
}

.fw-400 {
  font-weight: 400;
}

.fw-300 {
  font-weight: 300;
}

.ff_1{
  font-family: 'Raleway', sans-serif;
}
.ff_2{
  font-family: 'Roboto', sans-serif;
}

.word-break{
  word-break: break-all;
}


