@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

@import "typography";
@import "colors";

//@import "transitions";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  color: $white-color-1;
  font-family: 'Raleway', sans-serif;
  background: $gray-dark-1;
  font-size: 10px;
  //-webkit-font-smoothing: antialiased;
  //font-size: 16px;
}

body {
  font-size: 1.6rem;
}

/*input[type=text],
input[type=submit] {
  all: unset;
}*/

button {
  all: unset;
}

/*input, button {
  padding: .5rem 1rem;
}*/

a {
  all: unset;
  display: inline-block;
  cursor: pointer;
}

button {
  cursor: pointer;
}

.img-cnt-1 {
  img {
    height: 1rem;
  }
}

.img-cnt-1em {
  img {
    height: 1em;
  }
}

.img-cnt-2 {
  img {
    height: 2rem;
  }
}

.img-cnt-3 {
  img {
    height: 3rem;
  }
}

.justify-start{
 display: flex;
  justify-content: flex-start;
}


@import "buttons";
@import "inputs";
@import "container";
@import "pages/login";