<template>
    <modal @close="$emit('close')">
        <div class="header" slot="header">
            <div class="h3 lh-110 fw-800">Добавить новый продукт</div>
        </div>

        <div class="body" slot="body">
            <div class="body__form">
                <div class="body__form-item">
                    <div class="label h6 fw-500">
                        <!--                        Выберите тип парсера:-->
                        Тип парсинга
                    </div>
                    <select v-model="formDataSelected.selected"
                            class="select"
                    >
                        <option value="0" selected disabled> Выберите тип парсинга</option>
                        <option v-for="(item, index) in parseTypes"
                                :key="index"
                                :value="item.value">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
              <div class="body__form-item">
                <div class="label h6 fw-500">
                  Название запроса:
                </div>
                <input v-model="formData.profile_name" class="input" type="text" placeholder="MyTestRequest">
              </div>

                <div class="body__form-items" v-if="formDataSelected.selected === parseTypesValues.sku">
                    <div class="body__form-item">
                        <div class="label h6 fw-500">
                            Введите артикул:
                        </div>
                        <input v-model="formData.sku" class="input" type="text" placeholder="Артикул">
                    </div>
                </div>

                <div class="body__form-items" v-else-if="formDataSelected.selected === parseTypesValues.name">
                    <div class="body__form-item">
                        <div class="label h6 fw-500">
                            Введите название продукта:
                        </div>
                        <input v-model="formData.name" class="input" type="text" placeholder="Название">
                    </div>
                </div>

                <div class="body__form-items" v-else-if="formDataSelected.selected === parseTypesValues.url">
                    <div class="body__form-item">
                        <div class="label h6 fw-500">
                            Введите ссылку на продукт:
                        </div>
                        <input v-model="formData.url" class="input" type="text" placeholder="Ссылка">
                    </div>
                </div>

                <div class="body__form-items" v-else-if="formDataSelected.selected === parseTypesValues.smart">
                    <div class="body__form-item">
                        <div class="label h6 fw-500">
                            (Несколько параметров вводите через "пробел")
                        </div>
                        <div class="label h6 fw-500">
                            Включающие тэги:
                        </div>
                        <input v-model="formDataNotProcessed.tags.include" class="input" type="text" placeholder="">
                    </div>
                    <div class="body__form-item">
                        <div class="label h6 fw-500">
                            Исключающие тэги:
                        </div>
                        <input v-model="formDataNotProcessed.tags.exclude" class="input" type="text" placeholder="">
                    </div>
                </div>

                <div class="body__form-items" v-else>
                </div>

            </div>
            <div class="body__buttons h5 fw-500">
                <div class="button body__button outlined" @click="$emit('close')">Отмена</div>
                <div class="button body__button" @click="submitDataToParser">Добавить</div>
            </div>
        </div>
    </modal>
</template>

<script>
import Modal from "@/components/UI/Modals/Modal";
// import Modal from "./Modal";

export default {
    components: {Modal},
    data() {
        return {
            parseTypes: [
                {
                    name: "по артикулу",
                    //value: "sku"
                    value: 1
                },
                {
                    name: "по ссылке",
                    //value: "url"
                    value: 2
                },
                {
                    name: "по названию",
                    //value: "name"
                    value: 3
                },
                {
                    name: "smart",
                    //value: "smart"
                    value: 4
                },
            ],

            parseTypesValues: {
                // sku: "sku",
                // url: "url",
                // name: "name",
                // smart: "smart"
                sku: 1,
                url: 2,
                name: 3,
                smart: 4
            },

            formDataSelected: {
                selected: 0
            },
            formDataNotProcessed: {
                tags: {
                    include: "",
                    exclude: "",
                }
            },
            formData: {
                profile_name: "My Best Request",
                name: "",
                url: "",
                sku: "",
                tags: {
                    include: [],
                    exclude: []
                }
            }
        };
    },

    methods: {
        submitDataToParser() {
            if (this.formDataSelected.selected === this.parseTypesValues.smart) {
                if (this.formDataNotProcessed.tags.include) {
                    this.formData.tags.include = this.formDataNotProcessed.tags.include
                        .trim().split(/\s+/);
                }
                if (this.formDataNotProcessed.tags.exclude) {
                    this.formData.tags.exclude = this.formDataNotProcessed.tags.exclude
                        .trim().split(/\s+/);
                }
            }
            const data = this.formData;
            const selectedParseType = this.formDataSelected.selected;
            let flag = false;
            switch (selectedParseType) {
                case this.parseTypesValues.url:
                    console.log("url");
                    if (data.url) {
                        flag = true;
                    }
                    break;
                case this.parseTypesValues.name:
                    console.log("name");
                    if (data.name) {
                        flag = true;
                    }
                    break;
                case this.parseTypesValues.sku:
                    console.log("sku");
                    if (data.sku) {
                        flag = true;
                    }
                    break;
                case this.parseTypesValues.smart:
                    console.log("smart");
                    if (data.tags.exclude.length || data.tags.include.length) {
                        flag = true;
                    }
                    break;
            }
            if (flag) {
                this.$store.commit('modules/products/AddDataToAddProductModal', data);
                this.$emit('addProduct');
            }
        }
    }
};
</script>

<style lang="scss" scoped>
//@import "assets/styles/colors";
.header {
    padding: 2.4rem;
    //max-width: 16.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body {
    padding: .8rem 2.4rem 2.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.body__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &-items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .label {
        font-family: 'Roboto', sans-serif;
    }

    .input {
        background-color: #252629;
    }
}

.body__buttons {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;

    > :first-child {
        // background: ;
        /* background: #3abd79;
         color: #fff;
         margin-bottom: .25rem;*/
    }

    //padding-bottom: 2rem;
}

.body__button {
    /*display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    //border-radius: 2rem;
    border: 1px solid #666C76;*/
}
</style>
