<template>
    <modal @close="$emit('close')">
        <div class="header" slot="header">
            <div class="h3 lh-110 fw-800">Переместить продукт</div>
        </div>

        <div class="body" slot="body">
            <div class="body__form">
                <div class="body__form-item">
                    <div class="label h6 fw-500">Выберите кэш:</div>
                    <select v-model="formDataSelected"
                            class="select"
                    >
                        <option value="-1" selected disabled>Выберите кэш</option>
                        <option v-for="(item, index) in caches"
                                :key="index"
                                :value="item.id">
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="body__buttons h5 fw-500">
                <div class="button outlined" @click="$emit('close')">Отмена</div>
                <div class="button " @click="moveProduct">Переместить</div>
            </div>
        </div>

    </modal>
</template>

<script>
import Modal from "./Modal";

export default {
    name: "ContextMenuModal",
    components: {Modal},
    data() {
        return {
            cacheNames: [
                {
                    id: 1,
                    name: "High"
                },
                {
                    id: 2,
                    name: "Mid"
                },
                {
                    id: 3,
                    name: "Low"
                },
            ],
            currentCache: this.$store.state.modules.products.modals.showContextMenuModal.cache,
            formDataSelected: -1,
        };
    },
    computed: {
        caches() {
            return this.cacheNames.filter(e => e.id !== this.currentCache);
        }
    },
    methods: {
        moveProduct() {
            if (this.currentCache !== this.formDataSelected &&
                this.formDataSelected !== -1) {
                try {
                    this.$store.commit('modules/products/changeContextMenuModal',
                        {
                            status: undefined,
                            parser: undefined,
                            toCache: this.formDataSelected,
                            cache: undefined,
                            data: undefined,
                        });
                    this.$emit("moveProduct");
                } catch (e) {
                    console.log(e);
                }
            }
        }
    }
};
</script>

<style lang="scss" scoped>
.header {
    padding: 2.4rem;
    //max-width: 16.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body {
    padding: .8rem 2.4rem 2.4rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.body__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &-items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .label {
        font-family: 'Roboto', sans-serif;
    }

    .input {
        background-color: #252629;
    }
}

.body__buttons {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;
}
</style>