<template>
  <modal @close="$emit('close')">
    <div class="header" slot="header">
      <div class="h3 lh-110 fw-800">Удаление парсеров</div>
    </div>

    <div class="body" slot="body">
      <form action="" class="form" @submit.prevent>
        <label class="form__item h4" v-for="([parser, status], index) of Object.entries( getParsers)" :key="index">
          <input v-model="formData[parser]" type="checkbox" :value="true">
          <div>
            {{parser}}
          </div>
        </label>

        <div class="body__buttons h5 fw-500">
          <div class="button outlined" @click="$emit('close')">Отмена</div>
          <button :disabled="checkForChanges" type="submit" class="button danger ff_2" @click="submit">Удалить парсеры
          </button>
        </div>
      </form>
    </div>
  </modal>
</template>

<script>
import Modal from "./Modal";

export default {
  name: "DeleteParserModal",
  components: {Modal},
  created() {
    this.$axios.$get(`api/v2/parserManager`)
      .then(res => {
        console.log(res)
        this.response = res;
        if (this.response.status === 200){
          for( let [parser, status] of Object.entries(this.response.token.parsers)){
            this.lastData[parser] = status;
            this.formData[parser] = status;
          }
        }
      });
  },
  data() {
    return {
      //checkForChanges: false,
      response: {},
      lastData: {
      },
      formData: {
      }
    }
  },
  computed: {
    checkForChanges() {
     /* console.log(this.formData, this.lastData)
      for( let [parser, status] of Object.entries(this.formData)) {
        if (status !== this.lastData[parser]){
          return true
        }
      }
      return false;*/
    },
    getParsers(){
      let result = {};
      if (this.response.status === 200){
        for( let [parser, status] of Object.entries(this.response.token.parsers)){
          if (status === true){
            result[parser] = status;
          }
        }
        console.log("RESULT",result)
        return result;
      } else return []
    }
  },
  methods: {
    submit() {
      this.$axios.$put(`api/v2/parserManager`, this.formData)
      console.log(this.formData)
    }
  }
}
</script>

<style lang="scss" scoped>
.header {
  padding: 2.4rem;
  //max-width: 16.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.body {
  padding: .8rem 2.4rem 2.4rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.body__form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &-items {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }

  &-item {
    display: flex;
    flex-direction: column;
    gap: .8rem;
  }

  .label {
    font-family: 'Roboto', sans-serif;
  }

  .input {
    background-color: #252629;
  }
}

.body__buttons {
  display: flex;
  justify-content: flex-end;
  gap: .8rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: .8em;
  max-width: 40rem;
  min-width: 30rem;
  flex: 1 0 0;

  > :first-child {
    margin-bottom: .5em;
  }

  > :last-child {
    margin-top: .5em;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
  }

  &__item {
    //padding: .8rem 1.6rem;

    input[type=checkbox] {
      all: unset;
    }

    .image-container {
      //height: 1em;
      max-width: 2em;
      max-height: 1em;

      &.svg {
        filter: invert(100%);
      }
    }


    //gap: .5em;

    div {
      font-family: 'Roboto', sans-serif;
      width: 100%;
      height: 100%;
      padding: .5em .5em;
      box-sizing: border-box;

      border-radius: .6rem;
      border: 1px solid rgba(221, 221, 221, 0.05);
      color: white;
      background: #282828;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      transition: .1s;

      gap: .5em;

      span {
        width: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    input:checked + div {
      background: #007AFF;
      border: 1px solid #0740d9;
    }

  }

}
</style>
