<template>
    <modal @close="$emit('close')">
        <!--        <div class="header" slot="header">
                    <div class="h3 lh-110 fw-800">{{ product.brand }}</div>
                </div>-->

        <div class="body" slot="body">

            <div class="image_wrapper">
                <img :src="product.image_link" draggable="false">
            </div>


            <div class="body__content">
                <div class="body__description">
                    <div>
                        <!--                            <span class="label h6">Бренд: </span>-->
                        <span class="h3 fw-700 ff_1">{{ product.brand }}</span>
                    </div>
                    <!--                    <div>
                                            <a class="link underlined h5 fw-700" :href="product.link">Ссылка на товар</a>
                                        </div>-->
                    <div>
                        <!--                        <div class="label h6">Название:</div>-->
<!--                        <div class="h5 fw-700">{{ product.name }}</div>-->
<!--                        <a class="link underlined h5 fw-700" :href="product.link">Ссылка на товар</a>-->
<!--                        <div class="h5 fw-700"></div>-->
                        <a class="underlined h5 fw-700" :href="product.link">{{ product.name }}</a>

                    </div>
                    <div>
                        <div class="label h6 fw-300">Артикул:</div>
                        <div class="h5 fw-700">{{ product.sku }}</div>
                    </div>

                    <div>
                        <div class="label h6 fw-300">Цена:</div>
                        <div class="h5 fw-600">{{ product.price | fixed }}</div>
                    </div>
                    <div class="h6 fw-700" :style="product.status? 'color:#27AE60;' : 'color:#f93434' ">
                        {{
                            product.status ? "В наличии" : "Нет в наличии"
                        }}
                    </div>

                    <div class="product_sizes">
                        <div class="product_size" v-for="(size, index) in product.sizes">{{ size }}</div>
                    </div>
                </div>

                <div class="body__buttons h5 fw-500">
                    <div class="button body__button danger" @click="$emit('deleteProduct')">Удалить</div>
                    <div class="button body__button outlined" @click="$emit('close')">Закрыть</div>
                </div>
            </div>

        </div>
    </modal>
</template>

<script>
import Modal from "@/components/UI/Modals/Modal";

export default {
    components: {Modal},
    data() {
        return {
            product: {
                name: "",
                brand: "",
                price: "",
                sku: "",
                status: "",
                link: "",
                image_link: "",
                sizes: "",
            }
        };
    },
    mounted() {
        const data = this.$store.state.modules.products.modals.ProductDescriptionModal.data;
        this.product.name = data.name;
        this.product.brand = data.brand;
        this.product.price = data.price;
        this.product.sku = data.sku;
        this.product.status = data.status;
        this.product.sizes = data.sizes;
        this.product.link = data.link;
        this.product.image_link = data.image_link;
    },
    methods: {},
  filters:{
    fixed(value){
      if(!value){
        return value
      }
      return value.toFixed(2);
    }
  },
};
</script>

<style lang="scss" scoped>
.header {
    padding: 2.4rem;
    //max-width: 16.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.body {
    //padding: .8rem 2.4rem 2.4rem 2.4rem;
    padding: 2.4rem 2.4rem 2.4rem 2.4rem;
    display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    //min-width: 50vw;
    //width: 100;
    gap: 2.4rem;
    @media screen and (max-width: 500px) {
        flex-wrap: wrap;

    }

    &__content {
        flex: 70%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 2.4rem;
    }

    &__description {
        display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        gap: 1.2rem;
    }

    .product_sizes {
        font-family: 'Roboto', sans-serif;
        display: flex;
        flex-wrap: wrap;
        gap: .8rem;
    }

    .product_size {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .6rem .8rem;
        border-radius: .6rem;
        border: 2px solid gainsboro;
    }

    .image_wrapper {
        flex: 30rem;
        display: block;
        position: relative;

        width: 100%;
        height: 100%;
        //max-width: 30rem;

        overflow: hidden;
        background-color: #ff7676;
        border-radius: .6rem;

        &:before {
            content: "";
            padding-top: 100%;
            float: left;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            // object-fit: cover;
            //display: block;
            //width: 100%;
            //height: 100%;
            ////object-fit: cover;
            //max-height: 32rem;
            border-radius: .6rem;
            //max-height: 30vh;
        }
    }


}

.body__form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    &-items {
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
    }

    &-item {
        display: flex;
        flex-direction: column;
        gap: .8rem;
    }

    .label {
        font-family: 'Roboto', sans-serif;
    }

    .input {
        background-color: #252629;
    }
}

.body__buttons {
    display: flex;
    justify-content: flex-end;
    gap: .8rem;

    > :first-child {
    }
}

.body__button {
}
</style>
