<template>
    <div class="form__container container">
        <form action="" class="form" @submit.prevent>
            <h2>Выберите парсеры</h2>
            <label class="form__item h3">
                <input v-model="formData.lamoda" type="checkbox" :value="true">
                <div>
                    <span><img class="image-container svg" src="/parsers_icons/lamoda.svg" alt=""></span>
                    Lamoda
                </div>
            </label>

<!--            <label class="form__item h3">
                <input v-model="formData.wildberries" type="checkbox" :value="true">
                <div>
                    <span><img class="image-container" src="/parsers_icons/wildberries.png" alt=""></span>
                    Wildberries
                </div>
            </label>-->
<!--            <label class="form__item h3">
                <input v-model="formData.sneakerhead" type="checkbox" :value="true">
                <div>
                    <span><img class="image-container" src="/parsers_icons/sneakerhead_logo_light.svg" alt=""></span>
                    Sneakerhead
                </div>
            </label>-->
          <label class="form__item h3">
            <input v-model="formData.basketshop_test" type="checkbox" :value="true">
            <div>
              <span><img class="image-container" src="/parsers_icons/basketshop.png" alt=""></span>
              Basketshop-test
            </div>
          </label>

            <label class="form__item h3">
                <input v-model="formData.basketshop" type="checkbox" :value="true">
                <div>
                    <span><img class="image-container" src="/parsers_icons/basketshop.png" alt=""></span>
                    Basketshop
                </div>
            </label>

            <button :disabled="checkForChanges" type="submit" class="button light h3 ff_2" @click="submit">Создать монитор</button>
        </form>

    </div>
</template>

<script>
export default {
    name: "createMonitor",
    middleware: ['auth'],
    data() {
        return {
            //checkForChanges: false,
            lastData: {
                sneakerhead: false,
                wildberries: false,
                basketshop: false,
                basketshop_test: false,
                lamoda: false,
            },
            formData: {
                sneakerhead: false,
                wildberries: false,
                basketshop: false,
                basketshop_test: false,
                lamoda: false,
            }
        }
    },
    computed: {
        checkForChanges() {
            console.log(this.lastData === this.formData)
            return JSON.stringify(this.lastData) == JSON.stringify(this.formData);
        }
    },
    methods: {
        submit() {
            console.log(this.formData)
        }

    }
}
</script>

<style lang="scss" scoped>
.form {
    display: flex;
    flex-direction: column;
    gap: .8em;
    max-width: 40rem;
    min-width: 30rem;
    flex: 1 0 0;

    > :first-child {
        margin-bottom: .5em;
    }

    > :last-child {
        margin-top: .5em;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 70%;
    }

    &__item {
        //padding: .8rem 1.6rem;

        input[type=checkbox] {
            all: unset;
        }

        .image-container {
            //height: 1em;
            max-width: 2em;
            max-height: 1em;

            &.svg {
                filter: invert(100%);
            }
        }


        //gap: .5em;

        div {
            font-family: 'Roboto', sans-serif;
            width: 100%;
            height: 100%;
            padding: .5em .5em;
            box-sizing: border-box;

            border-radius: .6rem;
            border: 1px solid rgba(221, 221, 221, 0.05);
            color: white;
            background: #282828;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            transition: .1s;

            gap: .5em;

            span {
                width: 48px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        input:checked + div {
            background: #007AFF;
            border: 1px solid #0740d9;
        }

    }

}

</style>
