<template>
    <div class="">
        <div class="container">
            <!--            <nuxt-link class="button link" to="/createmonitor">Create Monitor</nuxt-link>-->
            <!--            <button class="button link" @click="sendCreateMonitor">Create Monitor</button>-->
            <nuxt-link to="/createMonitor" class="button">Create Monitor</nuxt-link>

            <nuxt-link class="button" to="/monitor">Monitor</nuxt-link>
            <!--            <button class="button link" @click="getCache">Create Monitor</button>-->

        </div>
<!--        <cards class="container">
            <template v-slot:card__body>

                <card-monitor>

                </card-monitor>
                <EmptyCard text="Booba">

                </EmptyCard>
            </template>
        </cards>-->
    </div>
</template>

<script>
import Cards from "../components/UI/Cards/Cards";
import EmptyCard from "../components/UI/Cards/EmptyCard";
import CardMonitor from "../components/UI/Cards/CardMonitor";

export default {
    middleware: ['auth'],
    components: {Cards, EmptyCard, CardMonitor},
    data() {
        return {
            form_data: {
                parsetype: "sku",
                target: "CW3400-400"
            },
            products: []
        };
    },
    methods: {
        logout() {
            this.$auth.logout();
        },
        checkUser() {
            this.$axios.get("api/v1/user/me/")
                .then(res => {
                    console.log(res);
                    console.log(this.$auth.user);
                });
        },
        getProducts() {
            this.$axios.$post("api/v2/getProduct", this.form_data)
                .then(res => {
                    console.log(res);
                    let data = JSON.parse(res);
                    data.status = (data.status ? "В наличии" : "Нет в наличии");
                    this.products.push(data);
                    console.log(this.products);
                    console.log(data.status);
                });
        },
        sendCreateMonitor() {
            this.$axios.$post("api/v2/createTokenizator", {});
        },
        firstLetterToUppercase(str) {
            return str[0].toUpperCase() + str.slice(1);
        },

    },
};
</script>

<style lang="scss" scoped>
.home-wrapper {
    padding: 1rem;
}

.product-wrapper {
    padding: 3.2rem 0;
    display: flex;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 1.6rem;
}

.button {
    font-family: 'Roboto', sans-serif;
    padding: .8rem 1.6rem;

    &.link {
        margin: .8rem 0;
    }
}

.product {
    &-item {
        display: flex;
        //padding: 1rem;
        //border: 1px solid grey;
        //box-shadow: ;
        background: #1c1c1c;
        //background: #2a2a2a;
        border-radius: .6rem;
        flex-direction: column;
        max-width: 32rem;
    }

    &-image {
        //padding: .5rem 0;
        img {
            display: block;
            width: 100%;
            height: 100%;
            //object-fit: cover;
            max-height: 32rem;
            border-radius: .6rem;
        }
    }

    &-body {
        height: 100%;
        padding: 2.4rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1.6rem;

        > :last-child {
            font-family: 'Roboto', sans-serif;
        }

        .product-title {
            > :first-child {
                color: #aaaaaa;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    //padding: 1rem 0;
    max-width: 223px;
}
</style>
