<template>
    <div class="home-wrapper">
        Index page
    </div>
</template>

<script>
export default {
    middleware: ['auth'],
    methods: {
        logout() {
            this.$auth.logout();
        }
    },
}
</script>

<style>
.home-wrapper {
    padding: 1rem;
}
</style>
