<template>
    <div class="register-wrapper">
        <div class="container register-body ">
            <div class="h2 fw-700 centered">С возвращением!</div>
            <form action="" class="form" method="post" @submit.prevent="userLogin">
                <!--            <div class="h1 fw-800 lh-150">Login page</div>-->
                <div class="form__item">
                    <div class="label">Login</div>
                    <input id="user_login" v-model="login.username" type="text"
                           class="input form__input"
                           placeholder="Ваш логин">
                </div>
                <div class="form__item">
                    <div class="label">Password</div>
                    <input id="user_password" v-model="login.password" type="password"
                           class="input form__input"
                           placeholder="Введите пароль">
                </div>

                <button type="submit" class="button form__button h5 lh-150 fw-700">Войти в аккаунт</button>
            </form>
            <div class="line"></div>
            <div class="register-login">
                <div class="register-login__body">
                    <span>Нужна учетная запись?</span>
                    <nuxt-link class="link" to="/register">Зарегистрироваться</nuxt-link>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
    name: "login",
    layout: "login",
    middleware: ['auth'],
    auth: 'guest',
    data() {
        return {
            login: {
                username: null,
                password: null,
            }
        }
    },
    methods: {
        async userLogin() {
            await this.$auth.loginWith('local', {
                data: this.login
            })
                .then(res => {
                    this.$router.push('/home')
                })
                .catch(err => {
                    console.log(err)
                })
        },
    }

}
</script>

<style lang="scss" scoped>


/*.register-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #161616;
    color: #f5f5f5;
}

.register-body {
    padding: 3rem;
    max-width: 35rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 0.375rem;
    background: #2a2a2a;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    > :last-child {
        margin-top: 1.5rem;
    }
}

.register-login {
    display: flex;
    justify-content: center;
}

.register-login__body {
    //font-family: 'Roboto', sans-serif;
    //font-weight: 300;
    font-size: 14px;
    display: flex;
    gap: .5rem;

}

.link {
    color: #007AFF;
    cursor: pointer;
}

.link:hover {
    text-decoration-line: underline;
}

.label {
    font-size: 12px;
    font-weight: 400;
    padding-left: 1rem;
    color: #6a6a6a;
}

.form__item {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.form__input {
    padding: .875rem 1rem;
    border: 1px solid #202020;
    border-radius: .375rem;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    background: #282828;
    color: #bababa;

    &:focus-visible {
        outline: 2px solid #0063c7;
    }
}

.form__button {
    padding: .675rem 1rem;
    border: 2px solid #2253e1;
    border-radius: .375rem;
    background: #007AFF;
    color: #fff;
transition: .1s;

    &:hover {
        background: #0063cd;
    }

    &:active {

        background: #004ea3;
        border: 2px solid #0740d9;
    }

    &:focus-visible {
        outline: 2px solid #0063c7;
    }
}

.line {
    width: 100%;
    height: 1px;
    background: #202020;
}

.centered {
    text-align: center;
}*/
</style>