<template>
  <div class="wrapper">
    <div class="container justify-start">
      <button class="button outlined" @click="getActiveParsers">Добавить парсер</button>
      <button class="button outlined" @click="deleteActiveParsers">Удалить парсер</button>
    </div>
    <!--              <div class="container">
                        <button class="button" @click="getCache">getCache</button>
                        &lt;!&ndash; <button class="button" @click="checkStore">checkStore</button> &ndash;&gt;
                    </div>-->

<!--    <div class="container">
      <button class="button" @click="getCache">getCache</button>
      <button class="button" @click="updateStore">UpdateStore</button>
      <button class="button" @click="setSSE('5a2b51','basketshop', 'basketshop', false )">
        default
      </button>

      <button class="button" @click="setSSE('monitor5a2b51','lamoda', 'lamoda', true  )">
        withVuex
      </button>
      &lt;!&ndash;            <button class="button" @click="stopEvent">stopSSE</button>&ndash;&gt;
      <button class="button" @click="stopAllEvents">stopAllSSE</button>
      &lt;!&ndash;                    <button class="button" @click="addProduct">AddProduct</button>&ndash;&gt;
      &lt;!&ndash;            <button class="button" @click="printsse">CheckSSE</button>&ndash;&gt;
      <button class="button" @click="printAllSSE">PrintAllSSE</button>
      &lt;!&ndash;                    <button class="button" @click="scrollTo(1)">L1</button>
                          <button class="button" @click="scrollTo(2)">L2</button>
                          <button class="button" @click="scrollTo(3)">L3</button>&ndash;&gt;
    </div>
    <div class="container">
      <input type="text" v-model="formDataMonitor.monitor_hash" placeholder="monitorhash">
      <input type="text" v-model="formDataMonitor.parser_name" placeholder="parsername">
    </div>-->
    <div class="sticky_bar container">
      <select
        class="select"
        v-model="scrollToValue"
        @change="scrollTo"
      >
        <option value="disabled" selected disabled>Выберите парсер</option>
        <option v-for="(parserName, index) in $store.state.modules.products.avaibleParsers"
                :key="index"
                :value="parserName"
        >
          {{ parserName }}
        </option>
      </select>
    </div>

    <div class="monitor__wrapper container no-padding">
      <div v-for="([key, parser], index) in Object.entries($store.state.modules.products.parsers)" class="monitor"
           :id="`monitor-${parser.parser_signature}`"
           :key="index" v-if="parser.hide!=true">
        <div class="monitor__title h4 fw-700">
          {{ parser.parser_signature }}
        </div>
        <div class="monitor__body">
          <MonitorItem
            id="monitorL1"
            title="High"
            :cache="1"
            :maxElems="20"
            :products="parser.content.L1"
            :parser="parser.parser_signature"
          >
          </MonitorItem>
          <MonitorItem
            id="monitorL2"
            title="Mid"
            :cache="2"
            :maxElems="40"
            :products="parser.content.L2"
            :parser="parser.parser_signature"
          >
          </MonitorItem>
          <MonitorItem
            id="monitorL3"
            title="Low"
            :cache="3"
            :maxElems="100"
            :products="parser.content.L3"
            :parser="parser.parser_signature"
          >
          </MonitorItem>
        </div>
      </div>
    </div>
    <add-product-modal v-if="$store.state.modules.products.modals.showAddProductModal.status"
                       @close="$store.commit('modules/products/changeAddProductModal', false)"
                       @addProduct="addProductFromModal">
    </add-product-modal>
    <product-description-modal v-if="$store.state.modules.products.modals.ProductDescriptionModal.status"
                               @close="$store.commit('modules/products/changeProductDescriptionModal', false)"
                               @deleteProduct="deleteProductFromModal">
    </product-description-modal>
    <ContextMenuModal v-if="$store.state.modules.products.modals.showContextMenuModal.status"
                      @close="$store.commit('modules/products/changeContextMenuModal',
                          {status: false})"
                      @moveProduct="moveProductFromModal">

    </ContextMenuModal>
    <add-parser-modal v-if="$store.state.modules.products.modals.showAddParserModal.status"
    @close="$store.commit('modules/products/changeAddParserModal', {status:false})">

    </add-parser-modal>
    <delete-parser-modal v-if="$store.state.modules.products.modals.showDeleteParserModal.status"
    @close="$store.commit('modules/products/changeDeleteParserModal', {status:false})">

    </delete-parser-modal>
  </div>
</template>

<script>

import MonitorItem from "@/components/Monitor/MonitorItem";
import AddProductModal from "@/components/UI/Modals/AddProductModal";
import ProductDescriptionModal from "@/components/UI/Modals/ProductDescriptionModal";
import ContextMenuModal from "@/components/UI/Modals/ContextMenuModal";
import AddParserModal from "@/components/UI/Modals/AddParserModal";
import DeleteParserModal from "@/components/UI/Modals/DeleteParserModal";
// import JSONBigint from "json-bigint"

export default {
  name: "monitor",
  middleware: ['auth'],
  components: {MonitorItem, AddProductModal, ProductDescriptionModal, ContextMenuModal, AddParserModal, DeleteParserModal},
  mounted() {
    //console.log(Object.entries(this.$store.state.modules.products.parsers));
  },
  created() {
    console.log("UPDATING STORE...")
    this.$store.dispatch('modules/products/updateStore')
      .then(res => {
        console.log("STORE UPDATED", res)
        let monitor = this.$store.state.modules.products.monitor;
        let avaible_parsers = this.$store.state.modules.products.avaibleParsers;
        console.log(this.$store.state.modules.products.avaibleParsers)
        for (let [index, parser] of Object.entries(avaible_parsers)) {
         console.log("[MONITOR, PARSER]", monitor, parser)
          try {
            this.setSSE(monitor, parser, parser, true)
          } catch (e) {
            console.log(e.message);
          }
        }
        //this.setSSE("basketshop_test", "basketshop_test", "basketshop_test", true)
      })
      .catch(e => {
        console.log("STORE WASN'T UPDATED", e)
      });
  },
  data() {
    return {
      eventSource: null,
      eventSources: {
        baketshop: null,
        baketshop_test: null,
        lamoda: null,
        sneakerhead: null
      },
      formDataMonitor: {
        monitor_hash: "",
        parser_name: ""
      },
      scrollToValue: "disabled",
    };
  },
  computed: {
    showAddProductModal() {
      return this.$store.state.modules.products.modals.showAddProductModal;
    }
  },
  methods: {

    getActiveParsers() {
      /*this.$axios.$get(`api/v2/parserManager`)
        .then(res => console.log(res));*/
      this.$store.commit("modules/products/changeAddParserModal", {status: true});
    },
    deleteActiveParsers() {
      /*this.$axios.$get(`api/v2/parserManager`)
        .then(res => console.log(res));*/
      this.$store.commit("modules/products/changeDeleteParserModal", {status: true});
    },

    moveProductFromModal() {
      const modalData = this.$store.state.modules.products.modals.showContextMenuModal;
      const parser = modalData.parser;
      const cache = modalData.cache;
      const toCache = modalData.toCache;
      const item = modalData.data;
      console.log("[monitor move:]", parser, cache, toCache, item);
      /*  this.$store.dispatch('modules/products/moveProduct',
            {
                parser,
                cache: `L${cache}`,
                toCache: `L${toCache}`,
                item
            });*/

      // this.$axios.$put(`api/mon/cache/${parser}?level=L${cache}`, {
      this.$axios.$put(`api/v2/productManager`, {
        parser_signature: parser,
        id: item.uid,
        to_level: `L${toCache}`
      })
        .then(res => {
          console.log(res);
          /* this.$store.dispatch(`modules/products/removeProduct`, {
               parser: parser,
               cache: `L${cache}`,
               item: item
           });*/
          this.$store.commit('modules/products/changeContextMenuModal',
            {
              status: false,
              parser: "",
              cache: "",
              toCache: "",
              data: ""
            });
        });

    },

    deleteProductFromModal() {
      const data = this.$store.state.modules.products.modals.ProductDescriptionModal;
      const cache = data.cache;
      const parser = data.parser;
      const item = data.data;

      // this.$axios.$delete(`api/mon/cache/${parser}?level=L${cache}`, {
      // this.$axios.$delete(`api/v2/cache/${parser}?level=L${cache}`, {
      this.$axios.$delete(`api/v2/productManager`, {
        data: {
          parser_signature: parser,
          id: item.uid
        }
      })
        .then(res => {
          console.log(res);
          /* this.$store.dispatch(`modules/products/removeProduct`, {
               parser: parser,
               cache: `L${cache}`,
               item: item
           });*/
          this.$store.commit('modules/products/changeProductDescriptionModal', {
            status: false,
            parser: "",
            cache: "",
            data: "",
          });
        })
        .catch(err => console.log(err))
        .finally();
      /*this.$store.dispatch(`modules/products/removeProduct`, {
          parser: parser,
          cache: `L${cache}`,
          item: item
      });
      this.$store.commit('modules/products/changeProductDescriptionModal', {
          status: false,
          parser: "",
          cache: "",
          data: "",
      });*/
    },

    addProductFromModal() {
      const formData = this.$store.state.modules.products.modals.showAddProductModal;
      let cache = formData.cache;
      let parser = formData.parser;

      // this.$axios.$post(`api/mon/cache/${parser}?level=L${cache}`, formData.data)
      // this.$axios.$post(`http://localhost:8999/cache/${parser}?level=L${cache}`, formData.data)
      console.log({
        params: {
          parser_signature: parser,
          level: `L${cache}`
        },
        product_info: formData.data
      })
      this.$axios.$post(`api/v2/productManager`,
        {
          params: {
            parser_signature: parser,
            level: `L${cache}`
          },
          product_info: formData.data
        }
      )
        .then(res => {
          console.log(res);
          //this.$store.dispatch(`modules/products/addNewProductL${cache}`, parser);
          this.$store.commit('modules/products/changeAddProductModal', {
            status: false,
            parser: "",
            cache: "",
          });
          if (JSON.parse(res.message).response == true){
            console.log("RES TRUEEEEE")
            this.$store.dispatch('modules/products/updateStore');
          } else {
            console.log("NOT TRUEEEEE")
          }
        })
        .catch(err => {
          console.log(err);
          //this.$store.commit('modules/products/AddDataToAddProductModal', {});
        })
        .finally(() => {
          this.$store.commit('modules/products/AddDataToAddProductModal', {});
        });

    },
    getCache() {
      /*      let data = JSON.parse(y);
            this.$store.dispatch('modules/products/initStore', data.token);*/
      this.$axios.$get("api/v2/getProducts")
        // this.$axios.$get("api/v2/getProducts")
        .then(res => {
          console.log(res);
          let data = res;
          console.log(data.token);
          //this.$store.dispatch('modules/products/initStore', data.token );
          //this.$store.dispatch('modules/products/initStore', data.token[0].content)
          //this.eventSource = new EventSource(`http://${monitor}/updates`);

          /*this.eventSource = new EventSource(`api/mon/updates/basketshop_test`);
          console.log('Accepting data from the server.');
          console.log(this.eventSource);
          /!*this.eventSource.addEventListener('message', function (event) {
              console.log(event.data);
              this.processRequest(JSON.parse(event.data));
          });*!/
        this.eventSource.onmessage = function (event) {
          console.log("MESSAGE: ", JSON.parse(event.data))
          //this.processRequest(JSON.parse(event.data));
        }*/
        });
    },

    processRequest(data) {
      try {
        for (let [id, item] of Object.entries(data)) {
          switch (item.represent) {
            case "ADD":
              this.addProductSSE(item);
              break;
            case "DELETE":
              this.deleteProductSSE(item);
              break;
            case "UPDATE":
              this.updateProductSSE(item);
              break;
            case "MOVE" :
              this.moveProductSSE(item);
              break;
            default: console.log("NOT FOUND")
          }
        }
      } catch (er) {
      }
    },

    addProductSSE(data) {
      console.log("[PROCESS REQUEST][ADD]", data)
      this.$store.dispatch('modules/products/updateStore');
    },
    deleteProductSSE(data) {
      console.log("[PROCESS REQUEST][DELETE]", data)
      this.$store.dispatch('modules/products/removeProductByUID', data);
    },
    moveProductSSE(data) {
      console.log("[PROCESS REQUEST][MOVE]", data)
      this.$store.dispatch('modules/products/moveProductSSE', data);
    },
    updateProductSSE(data) {
      console.log("[PROCESS REQUEST][UPDATE]", data)
      this.$store.dispatch('modules/products/updateProductSSE', data);
    },

    updateStore() {
      this.$store.dispatch('modules/products/updateStore');
    },
    setSSE(monitor_hash, parser, eventSource, withVuex) {
      /*console.log(this.formDataMonitor.monitor_hash, this.formDataMonitor.parser_name);*/
      console.log("[SET SSE]: ", monitor_hash, parser, eventSource, withVuex)
      if (!this.eventSources[this.formDataMonitor.parser_name] || this.eventSources[this.formDataMonitor.parser_name].readyState === 2) {
        this.eventSources[eventSource] = new EventSource(`api/sse/updates?monitor=${monitor_hash}&parser=${parser}`)
        //this.eventSources[this.formDataMonitor.parser_name] = new EventSource(`api/mon/updates/${parser}`);
        // this.eventSources[this.formDataMonitor.parser_name] = new EventSource(`api/sse/updates?monitor=${this.formDataMonitor.monitor_hash}&parser=${this.formDataMonitor.parser_name}`);
        console.log('Accepting data from the server.');
        console.log(this.eventSource);
        if (withVuex) {
          this.eventSources[eventSource].onmessage = (event) => {
            console.log("MESSAGE: ", JSON.parse(event.data));
            this.processRequest(JSON.parse(event.data));
          };
        } else {
          this.eventSources[eventSource].onmessage = (event) => {
            console.log("MESSAGE: ", JSON.parse(event.data));
            //this.processRequest(JSON.parse(event.data));
          };
        }
        console.log("EVENT STREAM: ", this.eventSources[eventSource])
      }
    },

    stopEvent(eventSource) {
      if (eventSource) {
        eventSource.close();
        console.log(eventSource);
        console.log('Close connection with server.');
      }
    },

    stopAllEvents() {
      for (let [name, eventSource] of Object.entries(this.eventSources)) {
        if (eventSource) {
          eventSource.close();
          console.log(eventSource);
          console.log(name, ' Close connection with server.');
        }
      }
    },

    /* stopEvent() {
         if (this.eventSource) {
             this.eventSource.close();
             console.log(this.eventSource);
             console.log('Close connection with server.');
         }
     },*/

    printsse() {
      console.log(
        this.eventSource
      );
    },

    printAllSSE() {
      console.log("[printAllSSE]");
      console.log(this.eventSources);
      for (let [name, eventSource] of Object.entries(this.eventSources)) {
        if (eventSource) {
          console.log(name, eventSource);
        }
      }
    },

    checkStore() {
      console.log(this.$store.state.modules.products);
    },

    /*scrollTo(id) {
        const el = document.getElementById(`monitorL${id}`)
        const container = document.getElementById("monitorContainer")
        el.scrollIntoView({
            //block: "center",
            inline: "center",
            behavior: "smooth",

        })
        //container.scrollLeft -= 16;
    },*/
    scrollTo() {
      const el = document.getElementById(`monitor-${this.scrollToValue}`);
      el.scrollIntoView({
        //block: "center",
        inline: "start",
        behavior: "smooth",
      });
      //container.scrollLeft -= 16;
    },

    /*addProduct() {
        this.$axios.$post("api/mon/cache/basketshop?level=L1", {
            profile_name: "Shoes",
            name: "",
            url: "https://www.basketshop.ru/catalog/item/nike-najk-krossovki-lebron-xix-dc9339-400/",
            sku: "",
            tags: {
                include: [
                    "Jordan",
                    "6",
                    "Sneakers"
                ],
                exclude: [
                    "Mid"
                ]
            }
        }).then(res => console.log(res));
    }*/
  },

};
</script>

<style lang="scss" scoped>
@import "assets/styles/variables_size";

$monitor-padding: 2.4rem;

.wrapper {
  flex: 1 0 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.sticky_bar {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  //top: 7rem;
  top: 0;
  width: 100%;
  padding: 1.6rem 2.4rem;
}

.justify-start {
  width: 100%;
  gap: .8rem;
}

.monitor {
  display: flex;
  //justify-content: space-between;
  //flex-wrap: wrap;
  //background: #717171;
  //min-width: 100%;
  //padding: 1.6rem 0;
  //min-height: 70%;
  //max-height: 100%;

  /*gap: 1.6rem;
  //height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  flex: 1 0 0;
  padding: 3rem 2.4rem;
  min-width: 100%;
  width: 0;*/
  height: 80%;
  min-height: 60rem;
  flex-direction: column;


  &__title {
    padding: 2.4rem $monitor-padding 0;
  }

  &__body {
    display: flex;
    gap: 1.6rem;
    flex-wrap: nowrap;
    flex: 1 0 0;
    padding: .8rem $monitor-padding;
    min-width: 100%;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    overflow-y: hidden;
    width: 0px;
  }

  &__item {
    scroll-snap-align: center;
  }

  &__wrapper {
    /*position: relative;
    display: block;*/
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }

  > :not(:last-child) {
    //border-right: 1px solid black;
  }

  @media screen and (max-width: 991px) {

    // overflow-y: scroll;
  }
}

.footer {
  height: 16rem;
}

</style>
