<template>
    <div class="card__wrapper">
        <slot name="card__body"></slot>
    </div>

</template>

<script>
export default {
    name: "Cards"
};
</script>

<style lang="scss" scoped>
.card__wrapper {
    /*display: grid;
    grid-column-gap: 1.6rem;
    grid-row-gap: 1.6rem;
    grid-template-columns: repeat(auto-fit, minmax(315px, 317px));
    align-content: stretch;
    justify-content: stretch;*/
    display: flex;
    flex-wrap: wrap;
}

</style>
