<template>
    <div class="card button outlined"
         @click="$emit('click')">
        <div class="card__title h5">{{ text }}</div>
    </div>

</template>

<script>
export default {
    name: "EmptyCard",
    props: {
        text: {
            type: String,
            required: true
        }
    }

};
</script>

<style lang="scss" scoped>

$grey_local: #ADB3BC;
.card {
    height: 100%;
    width: 100%;
    border: 2px dashed #ADB3BC;
    border-radius: 2rem;
    //box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
    color: $grey_local;

    &__title {
        color: #ADB3BC;
        line-height: 110%;
    }
}
</style>
