<template>
  <div class="cache">
    <div class="cache__title">
      <div class="h5 fw-700">{{ title }}</div>
      <div class="h5">{{ products.length }}/{{ maxElems }}</div>
    </div>
    <div class="cache__body">
      <div class="product-wrapper"
           @drop="droppedHandle($event)"
           @dragover.prevent
           @dragenter.prevent
           @dragenter="dragEnterHandler"
           @dragleave="dragLeaveHandler"
           :class="{'dragged_enter': draggedEnter}"
      >
        <div class="product-item" v-for="(product, index) in products"
             :key="index"
             draggable="true"
             @dragstart="dragStartHandle($event, product)"
             @contextmenu="longClick($event, product)"
             @click="showProductDescription(product)"
        >
          <div class="product-image">
            <img :src="product.image_link" draggable="false">
          </div>
          <div class="product-body">
            <div class="product-title">
              <div class="h5 fw-700">{{ product.brand }}</div>
              <div class="h6 fw-600">{{ product.name }}</div>
            </div>
            <div class="product-options">
                                <span class="h6 fw-500" :style="product.status? 'color:#27AE60;' : 'color:#f93434' ">
                                    {{
                                    product.status ? "В наличии" : "Нет в наличии"
                                  }}
                                </span>
              <span class="h6 fw-600">{{ product.price | fixed }} руб.</span>
            </div>
          </div>
        </div>
      </div>
      <div class="cache__body-footer">
        <button class="button ghost fullwidth has-text-centered  h1"
                @click="addProduct">
          <div class="plus_button"></div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>


export default {
  name: "MonitorItem",
  props: {
    title: String,
    maxElems: Number,
    products: Array,
    cache: Number,
    parser: String,
  },
  data() {
    return {
      addProductTo: "",
      showAddProductModal: false,
      draggedEnter: false,
    };
  },
  filters:{
    fixed(value){
      if(!value){
        return value
      }
      return value.toFixed(2);
    }
  },
  methods: {
    showProductDescription(product) {
      this.$store.commit('modules/products/changeProductDescriptionModal',
        {
          status: true,
          parser: this.parser,
          cache: this.cache,
          data: product
        }
      );
    },
    addProduct() {
      console.log(this.cache);
      //this.showAddProductModal = true
      this.$store.commit('modules/products/changeAddProductModal', {
        status: true,
        parser: this.parser,
        cache: this.cache
      });
      // this.$store.dispatch(`modules/products/addNewProductL${this.cache}`, this.parser)
      //this.$store.dispatch("modules/products/addProductL1")
    },
    dragStartHandle(event, item) {
      event.dataTransfer.dropEffect = "move";
      event.dataTransfer.effectAllowed = "move";
      event.dataTransfer.setData("item", JSON.stringify(
        {
          item: item,
          fromCache: this.cache,
          fromParser: this.parser
        }
      ));
    },
    droppedHandle(event) {
      let data = JSON.parse(event.dataTransfer.getData("item"));
      let item = data.item;
      let fromCache = data.fromCache;
      let fromParser = data.fromParser;
      this.draggedEnter = false;
      if ((fromCache !== this.cache) &&
        (fromParser === this.parser)) {
        /*this.$store.dispatch(`modules/products/addProductL${this.cache}`,
            {
                parser: this.parser,
                item: item
            }
        );
        this.$store.dispatch(`modules/products/removeProductL${fromCache}`,
            {
                parser: this.parser,
                item: item
            }
        );*/
        try {
          this.$store.dispatch('modules/products/moveProductRequest',
            {
              parser: this.parser,
              uid: item.uid,
              cache: fromCache,
              toCache: this.cache,
              item: item
            }
          )
        } catch (e) {
        }
        /*this.$store.dispatch(`modules/products/addProduct`,
          {
            parser: this.parser,
            cache: `L${this.cache}`,
            item: item
          }
        );
        this.$store.dispatch(`modules/products/removeProduct`,
          {
            parser: this.parser,
            cache: `L${fromCache}`,
            item: item
          }
        );*/
      }
    },
    dragEnterHandler() {
      this.draggedEnter = true;
    },
    dragLeaveHandler() {
      console.log("CIAO");
      this.draggedEnter = false;
    },
    longClick(event, item) {
      this.$store.commit('modules/products/changeContextMenuModal',
        {
          status: true,
          cache: this.cache,
          parser: this.parser,
          data: item,
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.cache {
  /* display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   //background: #717171;
   //min-width: 100%;
   //padding: 1.6rem 0;
   min-height: 70%;
   max-height: 100%;
   gap: 1.6rem;
   height: 100%;
   padding: 3rem 2.4rem;

   > :not(:last-child) {
       //border-right: 1px solid black;
   }*/

  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  //min-height: 60vh;
  width: 30%;
  min-width: 29rem;
  max-width: 45rem;
  //min-height: 40vh;
  height: 100%;
  gap: .8rem;
  padding: .8rem 0 0;
  scroll-snap-align: center;

  /*&__item {
      display: flex;
      flex: 1 1 0;
      flex-direction: column;
      //min-height: 60vh;
      width: 30%;
      min-width: 29rem;
      max-width: 45rem;
      min-height: 60vh;
      height: 100%;
      gap: 1.6rem;
  }*/

  &__title {
    display: flex;
    align-items: flex-end;
    gap: .8rem;
  }

  &__body {
    flex: 1 0 0;
    //background: rgba(167, 187, 206, 0.37);
    background: #92b1cf1c;
    border-radius: .6rem;
    padding: .8rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    gap: .8rem;


    &-footer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      > button {
        padding: 0;
      }
    }
  }
}

.product {
  &-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: .6rem;
    transition: .1s;

    &.dragged_enter {
      background: rgba(103, 154, 203, 0.17);
    }
  }

  &-item {
    display: flex;
    background: #1c1c1c;
    border-radius: .6rem;
    flex-direction: row;
    padding: 1.6rem;
    gap: 1.6rem;

    //max-width: 32rem;
  }

  &-image {
    //padding: .5rem 0;
    flex: 1 0 0;
    width: 25%;
    max-height: 100%;
    display: flex;
    align-items: flex-start;

    img {
      display: block;
      width: 100%;
      //height: 100%;
      //object-fit: cover;
      max-height: 32rem;
      border-radius: .6rem;
    }
  }

  &-body {
    flex: 2 0 0;
    //height: ;
    //padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.6rem;

    > :last-child {
      font-family: 'Roboto', sans-serif;
    }

    .product-title {
      > :first-child {
        color: #aaaaaa;
        margin-bottom: .4rem;
      }
    }

    .product-options {
      display: flex;
      justify-content: space-between;
      gap: .4rem;
    }
  }
}

.plus_button {
  position: relative;
  height: 40px;

  &:before {
    position: absolute;
    content: '';
    top: calc(50% - 2px);
    left: calc(50% - 10px);
    height: 4px;
    width: 20px;
    background: #acacac;
  }

  &:after {
    position: absolute;
    content: '';
    color: #ffffff;
    background: #acacac;
    height: 20px;
    width: 4px;
    top: calc(50% - 10px);
    left: calc(50% - 2px);
  }

}
</style>
